/* 重置默认样式 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;

    /* font-family: "Microsoft YaHei", serif; */

    /* 删除点击高亮 */
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
    background: #fff;
    text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
    border: 0;
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

a {
    color: initial;
    text-decoration: none;
}

input, select, textarea, button {
    background-color: transparent;
    border: none;
    outline: none;
}

/* 去除谷歌浏览器记住账号密码填充的黄色背景 */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    color: rgb(0 0 0) !important;
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: 0 0 0 1000px #f9fafc inset;
}

select::-ms-expand {
    display: none;
}

input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

input[type="number"] {
    appearance: textfield;
}
