/* 主布局样式
------------------------------- */
#app {
  .layout-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    .layout-container-view {
      flex-direction: column;
    }
    .layout-pd {
      padding: 15px;
    }
    .layout-flex {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .layout-aside {
      background: var(--next-bg-menuBar);
      box-shadow: 2px 0 6px rgb(0 21 41 / 1%);
      height: inherit;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      .el-scrollbar__view {
        overflow: hidden;
      }
    }
    .layout-header {
      padding: 0;
      height: auto;
    }
    .layout-main {
      padding: 15px; // 全局容器padding
      overflow: hidden;
      width: 100%;
      background-color: var(--next-bg-main-color);
      display: flex;
      flex-direction: column;
      // 内层 el-scrollbar样式，用于界面高度自适应（main.vue）
      .layout-main-scroll {
        @extend .layout-flex;
        .layout-parent {
          @extend .layout-flex;
          position: relative;
        }
      }
    }
    // 用于界面高度自适应
    .layout-padding {
      @extend .layout-pd;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      overflow: hidden;
      @extend .layout-flex;
      &-auto {
        height: inherit;
        @extend .layout-flex;
      }
      &-view {
        background: var(--el-color-white);
        width: 100%;
        height: 100%;
        border-radius: 4px;
        border: 1px solid var(--el-border-color-light, #ebeef5);
        overflow: hidden;
      }
    }
    // 用于界面高度自适应，主视图区 main 的内边距，用于 iframe
    .layout-padding-unset {
      padding: 0;
      &-view {
        border-radius: 0;
        border: none;
      }
    }
    // 用于设置 iframe loading 时的高度（loading 垂直居中显示）
    .layout-iframe {
      .el-loading-parent--relative {
        height: 100%;
      }
    }
    .el-scrollbar {
      width: 100%;
    }
    .layout-el-aside-br-color {
      border-right: 1px solid var(--el-border-color-light, #ebeef5);
    }
    // pc端左侧导航样式
    .layout-aside-pc-220 {
      width: 220px;
      transition: width 0.3s ease;
    }
    .layout-aside-pc-64 {
      width: 64px;
      transition: width 0.3s ease;
    }
    .layout-aside-pc-1 {
      width: 1px;
      transition: width 0.3s ease;
    }
    // 手机端左侧导航样式
    .layout-aside-mobile {
      position: fixed;
      top: 0;
      left: -220px;
      width: 220px;
      z-index: 9999999;
    }
    .layout-aside-mobile-close {
      left: -220px;
      transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    }
    .layout-aside-mobile-open {
      left: 0;
      transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    .layout-aside-mobile-mode {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999998;
      animation: error-img 0.3s;
    }
    .layout-main-height-50 {
      height: calc(100vh - 50px);
    }
    .layout-columns-warp {
      flex: 1;
      display: flex;
      overflow: hidden;
    }
    .layout-hide {
      display: none;
    }
  }
}
